.smallTemplateWrapper {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  padding-top: 48px;
}

.smallContentCollumn {
  display: flex;
  width: 66.13%;
  flex-direction: column;
  align-items: flex-start;
}
.blogPageName {
  font-weight: 400;
  margin-bottom: 32px;
}
.smallContent-mainImage {
  border-radius: var(--big-border-radius);
  margin-bottom: var(--chapter-padding);
}
.blogContentInfo {
  display: flex;
  align-items: center;
  gap: 32px;
  color: var(--lightgrey);
  margin-bottom: 32px;
}
.smallTemplateChapter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: var(--chapter-padding);
}
.smallTemplateChapter p {
  color: var(--lightgrey);
}
.chapterParagraph {
  margin-bottom: 16px;
  color: var(--lightgrey);
}
.smallContent-chapterImage {
  margin-bottom: 16px;
  border-radius: var(--big-border-radius);
}
.chapterFactItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.smallContentLatestNews {
  position: sticky;
  top: 150px;
  width: 100%;
  max-width: 367px;
  padding: 24px 20px 20px 20px;
  background-color: var(--graycards);
  border-radius: var(--big-border-radius);
}
.latestNewsItem {
  padding: 16px 0;
  border-bottom: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.latestNewsItem a {
  color: #fff;
  text-decoration: none;
}
.latestNewsItem .date {
  color: var(--lightgrey);
}
.smallContent-markList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  color: var(--lightgrey);
}
.smallContent-markList p {
  margin-bottom: 0!important;
}
.bigTemplateWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 48px;
}
.bigTemplate-fullColumn {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin-bottom: var(--chapter-padding);
}
.smallMargin {
  margin-bottom: 32px!important;
}
.fullColumn-mainImage {
  width: 100%;
  border-radius: var(--big-border-radius);
}
.fullColumn-contentInfo {
  display: flex;
  align-items: center;
  gap: 32px;
  color: var(--lightgrey);
}
.bigTemplate-fullRow {
  display: flex;
  align-items: flex-start;
  gap: 56px;
  width: 100%;
  margin-bottom: var(--chapter-padding);
}
.bigTemplate-fullRow .leftColumn {
  width: 100%;
  max-width: 36%;
  display: flex;
  align-items: center;
  height: 100%;
}
.bigTemplate-fullRow .leftColumn img {
  width: 100%;
  border-radius: var(--big-border-radius);
}
.bigTemplate-fullRow .fullRowName {
  width: 100%;
  max-width: 36%;
  font-weight: 500;
}
.bigTemplate-fullRow .rightColumn {
  width: 100%;
  flex-direction: column;
  gap: 16px;
}
.bigTemplate-fullRow .rightColumn p {
  margin-bottom: 8px;
  color: var(--lightgrey);
}
.smallContent-markList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  color: var(--lightgrey);
  margin-bottom: 16px;
}
.blogShareWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  border-radius: var(--big-border-radius);
  background-color: var(--graycards);
}
.blogShareWrapper h2 {
  font-weight: 500;
}
.shareSocials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.shareItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--grey);
}
.recentArticlesWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px;
  border-radius: var(--big-border-radius);
  background-color: var(--graycards);
}
.recentArticleButton {
  display: flex;
  align-items: center;
  gap: 14px;
}
.recentArticleItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.recentArticleItem {
  flex-grow: 1;
  width: 100%;
  max-width: 315px;
  
}
.recentArticleItem:first-child {
  align-items: flex-start;
}
.recentArticleItem:last-child {
  align-items: flex-end;
}
.recentArticleButton p {
  color: var(--green)!important;
}
.blogArticleFooter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media(max-width:1000px) {
  .bigTemplate-fullRow {
    gap: 16px;
  }
}
@media(max-width:730px) {
  .bigTemplate-fullRow {
    flex-direction: column;
  }
  .bigTemplate-fullRow .leftColumn {
    width: 100%;
    max-width: unset;
  }
  .bigTemplate-fullRow .fullRowName {
    max-width: unset;
  }
  .bigTemplate-fullColumn {
    gap: 16px;
  }
  .shareSocials img {
    width: 17px;
    height: auto;
  }
  .recentArticleButton .swiperButtonPrev,
  .recentArticleButton .swiperButtonNext {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }
  .recentArticleItem p {
    font-size: 14px!important;
  }
  


}
@media(max-width:550px) {
  .recentArticlesWrapper {
    flex-direction: column;
    gap: 8px;
    background-color: unset;
    padding: 0;
  }
  .blogArticleFooter {
    gap: 8px;
  }
  .recentArticleItem {
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: unset;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--graycards);
  }
  .recentArticleItem p {
    max-width: 50%;
  }
 }

