.footerWrapper {
    display: flex;
    flex-direction: column;

  }
  .footerHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 48px 0;
    row-gap: 24px;
    column-gap: 20px;
  }
  .footerLogo {
    width: 170px;
  }
  .footerColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .footerColumn p {
    font-weight: 500;
  }
  .footerColumn a {
    color: var(--lightgrey);
    text-decoration: none;
  }
.footerSocials {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerPolicy {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--lightgrey);
  flex-wrap: wrap;
  gap: 24px;
}
.footerPolicyNav {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.footerPolicyNav a {
  color: var(--lightgrey);
  text-decoration: none;
  
}
.copyright {
  color: var(--lightgrey);
}

@media(max-width:1024px) {
.footerSocials {
  width: 100%;
  justify-content: center;
  gap: 32px;
}
.footerSocials img {
  width: 48px;
  height: auto;
}

}
  @media(max-width:600px) {
    footer {
      border: none!important;
    }
   /* .footerLogo {
    margin-right: 100%;
    margin-bottom: 8px;
    justify-content: center;
   }  */
   .footerHeader {
    padding-top: 0;
    border: none;
    
   }
   .copyright {
    order: 2;
   }
   .footerPolicy {
    gap: 12px;
   }
   .footerPolicyNav {
    flex-direction: column;
    gap: 8px;
    order: 1;
    align-items: flex-start;
   }
   .footerColumn:nth-child(1) {
    margin-bottom: 28px;
   }
   .footerColumn:nth-child(1),
   .footerLogo {
     width: 100%;
   }
   .footerSocials {
    margin-top: 28px;
   }
  }
  
  @media(max-width:1024px) {
    .footerColumn:nth-child(1) {
      margin-bottom: 28px;
     }
     .footerColumn:nth-child(1),
     .footerLogo {
       width: 100%;
     }
     .footerSocials {
      margin-top: 28px;
     }
  }
  @media(max-width:530px) {
    .footerHeader {
      flex-direction: column;
    }
    .footerColumn:nth-child(1) {
      margin-bottom: 12px;
    }
    .footerSocials {
      margin-top: 12px;
    }
  }