

.introWrapper {
  width: 100%;
  aspect-ratio: 440/217;
  position: relative;
  margin-top: 48px;
  padding-bottom: 120px;
}


.introBackground {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 40px;
}
.introDrone {
  position: absolute;
  left: 24.77%;
  top: 17.38%;
  width: 34%;

  transition: all 0.2s ease;
}

.introWrapper:hover .introDrone {
  /* animation: livitation ease-in-out infinite 5s; */
  transform: scale(1.1);
}
.introText1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  padding: 24px;
  background-color: var(--black);
  border-bottom-left-radius: 40px;
}
.arcv1 {
  position: absolute;
  right: 0;
  top: 100%;
  width: 40px;
  height: 40px;
}
.arcg1 {
  position: absolute;
  right: 100%;
  top: 0;
  width: 40px;
  height: 40px;
}
.arcv1 path {
  fill: var(--black);
  d: path("M 40 40 c 0 -22 -18 -40 -40 -40 h 40 Z");
}
.arcg1 path {
  fill: var(--black);
  d: path("M 40 40 c 0 -22 -18 -40 -40 -40 h 40 Z");
}
.introParagraph {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 100%;
  max-width: 265px;
  color: var(--lightgrey);
}
.section1IntroCards {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

.whiteItemCard {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
  border-radius: 20px;
  background-color: #fff;
  color: var(--graycards);
}
.whiteItemCardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.introPilotTeaching {
  width: 100%;
  max-width: 398px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  color: var(--lightgrey);
  border-radius: 20px;
  background-color: var(--graycards);
}
.introPilotTeaching p {
  margin-bottom: 12px;
}
.aboutWrapper {
  padding-bottom: 120px;
}
.aboutTextContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.aboutTextContainer h2 {
  
  color: #fff;
}
.aboutTextContainer span {
  color: var(--green);
}
.aboutTextContainer img {
  vertical-align: middle;
  margin: 0 8px;
}
.textSeparator {
  padding: 0 0 80px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.textSeparator p {
  color: var(--lightgrey);
  max-width: 540px;
  padding-left: 110px;
}
.blogRecommendationWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 120px;
}
.contentProductItem {
  width: 100%;
  max-width: 422px;
  border-radius: 20px;
  padding: 20px 20px 90px 20px;
  background-color: var(--graycards);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.contentProductItem img {
  margin-bottom: 12px;
}
.contentProductItem p {
  color: var(--lightgrey);
}
.productItemButton-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: 40px;
  background-color: var(--black);
  padding: 20px 20px 0 0;
}
.productItemButton-wrapperFigure1 {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.productItemButton-wrapperFigure2 {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 40px;
  height: 40px;
  z-index: 3;
}
.productItemButton-wrapperFigure1 path {
  fill: var(--black);
  d: path("M 0 0 c 0 22 18 40 40 40 h -40 Z");
}
.productItemButton-wrapperFigure2 path {
  fill: var(--black);
  d: path("M 0 0 c 0 22 18 40 40 40 h -40 Z");
}
.aboutTextWrapper {
  display: flex;
  align-items: center;
  gap: 56px;
  height: fit-content;
  padding-bottom: 80px;
}
.aboutTextImage {
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-width: 650px;
}
.aboutTextImage img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.aboutTextContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.aboutTextContent p {
  color: var(--lightgrey);
  margin-bottom: 8px;
}
.benefitsWrapper {
  display: flex;
  gap: 56px;
  align-items: center;
}
.benefitsDashboard {
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  column-gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 650px;
}
.benefitsDashboard p {
  color: var(--lightgrey);
}
.benefitsItem {
  width: 100%;
  max-width: 313px;
  display: flex;

  gap: 16px;
  align-items: flex-start;
}
.benefitsItemText {
  display: flex;
  flex-direction: column;
}
.benefitsItem p {
  font-weight: 500;
  color: #fff;
}
.benefitsItem p span {
  font-size: 48px;
}
.benefitBanner {
  width: 100%;

  aspect-ratio: 307/227;
  position: relative;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
.benefitBanner img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
}
.benefitBannerAdtitle {
  background-color: var(--graycards);
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  width: 100%;
  max-width: 319px;
  border-radius: 20px;
}
.benefitBannerAdtitle p {
  color: var(--lightgrey);
  margin-bottom: 12px;
}
.faqWrapper {
  padding: 0 0 120px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.accordion {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.accordion__item {
  border-radius: 20px;
  background: var(--graycards);
  width: 100%;
}
.accordion__title {
  color: #fff;
  padding: 26px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  transition: all 0.2s ease;
}
.accordion__title-text {
}

.accordion__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  background: var(--lightgrey);

  border-radius: 50%;

  font-weight: 700;
  transition: all 0.3s ease;
}
.accordion__arrow-item {
  color: var(--black);
  height: 20px;
  width: 20px;
}
.accordion__arrow-active {
  background: var(--lightgrey);
  width: 100%;
  height: 100%;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.accordion__content {
  display: none;
  color: var(--lightgrey);
  padding: 0px 20px 24px 20px;
}
.contactWrapper {
  display: flex;
  align-items: center;
  padding: 112px;
  gap: 20px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 40px;
}
.contactBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  z-index: -2;
  filter: brightness(40%);
}
.backgroundMask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 800px;
  z-index: -1;
}
.contactBlockText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 650px;
}
.contactBlockText p {
  color: var(--lightgrey);
  margin-bottom: 16px;
}


@keyframes livitation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0);
  }
}
