.introWrapper3 {
  width: 100%;
  aspect-ratio: 440/217;
  position: relative;

  margin-bottom: var(--block-padding);
  overflow: hidden;
}
.intro3Application {
  width: 100%;
  aspect-ratio: 440/217;
  position: relative;


  overflow: hidden;
}
.introWrapper3 .borderRadius1,
.introWrapper3 .borderRadius2,
.introWrapper3 .borderRadius3,
.introWrapper3 .borderRadius4,
.introWrapper3 .borderRadius5 {
  width: 40px;
  height: 40px;
  position: absolute;
}

.introWrapper3 .borderRadius1 path,
.introWrapper3 .borderRadius2 path,
.introWrapper3 .borderRadius3 path,
.introWrapper3 .borderRadius4 path,
.introWrapper3 .borderRadius5 path {
  fill: var(--black);
}
.introBackground3 {
  position: absolute;
  width: 75.13%;
  top: 0;
  right: 0;
  border-radius: var(--big-border-radius);
}
.intro3LeftBlock {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 672px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 3;
}
.intro3LeftBlock h1 img {
  vertical-align: middle;
  margin: 0 8px;
  max-height: 1em;
}
.introParagraph3 {
  position: absolute;
  right: 32px;
  top: 32px;
  color: var(--lightgrey);
  width: 100%;
  max-width: 265px;
}
.intro3LeftBlock h1 {
  display: inline-block;
  background-color: var(--black);
  width: fit-content;
  position: relative;
  padding: 0 18px 18px 0;
  border-bottom-right-radius: var(--big-border-radius);
  font-weight: 400;
}
.intro3LeftBlock h1 .borderRadius1 {
  position: absolute;
  top: 0;
  left: 100%;
}
.intro3LeftBlock h1 .borderRadius2 {
  position: absolute;
}
.intro3LeftBlock h1 .borderRadius1 path {

}
.leftBlockBackground {
  position: relative;
  background-color: var(--black);
  display: flex;
  flex-grow: 1;
  width: 100%;

  max-width: 427px;
  border-radius: var(--big-border-radius) 0 0 var(--big-border-radius);
  padding: 0 20px 0 0;
}
.leftBlockBackgroundImage {
  background-image: url(../images/screen3/leftBlockBackground3.png);
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--big-border-radius) 0 0 var(--big-border-radius);
}
.leftBlockBackground .borderRadius3 {
  right: 20px;
  top: 0;
}
.leftBlockBackground .borderRadius4 {
  left: 100%;
  top: 0;
}
.leftBlockBackground .borderRadius5 {
  bottom: 0;
  left: 100%;
}

.leftIntroBackground3 {
  width: 100%;
}
.leftBlockRCcontrol {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 244px;
  height: 224px;
  padding: 20px 20px 0 20px;
  background-color: var(--black);
  border-top-left-radius: var(--big-border-radius);
}
.leftBlockRCcontrol a {
  width: calc(100% - 64px);
  padding: 12px 12px;
}
.leftBlockRCcontrol .borderRadius1 {
  bottom: 0;
  right: 100%;
}
.leftBlockRCcontrol .borderRadius2 {
  bottom: 100%;
  right: 20px;
}



.leftBlockRCcontrol img {
  width: 100%;
}
.leftBlockRCcontrol a {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
}
.introDrone3 {
  position: absolute;
  right: 25%;
  top: 10.38%;
  width: 34%;

  transition: all 0.2s ease;
}
.introWrapper3:hover .introDrone2 {
  /* animation: livitation ease-in-out infinite 5s; */
  transform: scale(1.1);
}
.introProductBlock3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 0 0 20px;
  background-color: var(--black);
  border-top-left-radius: var(--big-border-radius);
  color: #32d16c36;
}

.introItemCard3 {
  position: absolute;
}
.introProductBlock3 .borderRadius1 {
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 40px;
  height: 40px;
}
.introProductBlock3 .borderRadius2 {
  position: absolute;
  right: 100%;
  bottom: 0;
  width: 40px;
  height: 40px;
}
.introProductBlock3 .borderRadius1 path {
  fill: var(--black);
 
}
.introProductBlock3 .borderRadius2 path {
  fill: var(--black);
  
}
.pilotsAcademyTablet {
  display: flex;
  align-items: center;
}
.pilotsAcademyTablet-Image {
  flex-grow: 1;
}
.pilotsAcademyTablet-Control {
  flex-grow: 1;
}

.pilotsAcademyTablet-Control img {
  width: 100%;
}
.pilotsAcademyTablet-Control a {
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
}
.advantageWrapper {
  display: flex;
  align-items: flex-start;
  gap: 56px;
  padding-bottom: var(--block-padding);
}
.advantageTextContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 427px;
}
.advantageTextContent p {
  color: var(--lightgrey);
  margin-bottom: 8px;
}
.advantageDashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.advantageItem {
  padding: 24px 0;
  border-bottom: 1px solid var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
gap: 12px;

  width: 100%;
}
.advantageItem p {
  color: var(--lightgrey);
  margin-bottom: 0;
  max-width: 400px;
}
.advantageItemName {
  display: flex;
  align-items: center;
  gap: 24px;
  min-width: fit-content;
}
.sellaryWrapper {
  display: flex;
  gap: 56px;
  align-items: flex-start;
  padding-bottom: var(--block-padding);
}
.sallaryDashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 650px;
  background-color: var(--graycards);
  padding: 32px;
  border-radius: var(--big-border-radius);
}
.sallaryDigits {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.sallaryDigits p {
  color: var(--lightgrey);
}
.sallaryDigits h1 {
  margin-right: 16px;
}
.sallaryDigitsPercent {
  display: flex;
  background-color: var(--grey);
  border-radius: var(--small-border-radius);
  gap: 4px;
  align-items: center;
  padding: 8px 12px;
}

.sallaryChart {
  display: flex;
  align-items: center;
  gap: 12px;
}
.sallaryChartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  color: var(--lightgrey);
}
.animate-sallary-bar {
  animation: sallaryRaiseBar 2s forwards ease-in-out;
}
.animate-text-fade {
  animation: textShadowFade 1s forwards ease-in-out;
}
.sallaryTextContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
.sallaryTextContent p {
  margin-bottom: 8px;
}
.learningWrapper {
  padding-bottom: var(--block-padding);
}
.learningPlans {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
  margin-bottom: var(--chapter-padding);
}

.learningPlanItem {
  display: flex;
  flex-direction: column;
  padding: 32px 32px 95px 32px;
  position: relative;
  background-color: var(--graycards);
  border-radius: var(--big-border-radius);
  gap: 12px;
  width: 33%;
}
.learningPlanName {
  display: flex;
  gap: 16px;
  align-items: center;
}
.learningPlanItem p {
  margin-bottom: 12px;
  color: var(--lightgrey);
}
.learningTable {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--lightgrey);
  margin-bottom: 24px;
}

.learningTableRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey);
  padding: 16px 0;
}

.learningTableRow.header {
  border-bottom: 2px solid var(--grey);
}

.cell {
  flex: 1;
  text-align: left;
}

.cell:first-child {
  text-align: left;
  flex: 2;
}
.checkMarkIcon {
  width: 16px;
  height: 16px;
  background-image: url(../images/icons/checkMark.svg);
}
.learningStepsWrapper {
  display: flex;
  gap: 56px;
  padding-bottom: var(--block-padding);
}
.learningStepsImage {
  
  width: 100%;
  max-width: 650px;
  position: relative;
}
.learningStepsImage img {
  width: 100%;
}
.learningStepsImage h2 {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 400px;
}
.learningStepsTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.learningItem {
  border-radius: var(--big-border-radius);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 614px;
  background-color: var(--graycards);
}
.learningItemName {
  display: flex;
  align-items: center;
  gap: 16px;
}
.learningItem p {
  color: var(--lightgrey);
}
.contactMarkedList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}
.markListItem {
  display: flex;
  align-items: center;
  gap: 12px;
}
.markListItem p {
  margin-bottom: 0;
}
.intro3Heading {
  display: none;
  z-index: 100;
}
.intro3Heading img {
  vertical-align: middle;
    margin: 0 8px;
    max-height: 1em;
}
.consultationButton {
  display: none!important;
}
.sallaryButton {
  display: none!important;
}
@media (max-width: 1200px) {
  .intro3LeftBlock {
    max-width: 550px;
    position: relative;
  }
  .leftBlockBackground {
    max-width: 244px;
    padding-right: 16px;
  }
  .leftBlockBackgroundImage {
    width: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    border-radius: 20px;
    position: static;
    flex-grow: 1;
  }
  .intro3Application {
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: unset;
    height: 100%;
  }
  .introWrapper3 {
    height: fit-content;
    aspect-ratio: unset;
  }
  .introBackground3 {
    height: 100%;
    width: auto;
    z-index: -1;
  }
  .introProductBlock3 {
    padding: 16px 0 0 16px;
  }
  .leftBlockRCcontrol{
    position: static;
    padding-right: 16px;
    aspect-ratio: 1/1;
    flex-grow: 1;
    padding-left: 0;
  }
  .leftBlockBackground .borderRadius3 {
    right: 0;
    display: none;
  }
  .leftBlockRCcontrol .borderRadius2 {
    right: 0;
    display: none;
  }
  .leftBlockBackground {
    display: flex;
    flex-direction: column;

  }
  .advantageItem p {
    max-width: unset;
  }
  .sallaryDashboard {
    width: 100%;
    min-width: 500px
  }

  .sallaryChartItem {
    flex-grow: 1;
   
  }
  .sallaryChartItem svg {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1100px) {
}
@media (max-width: 1000px) {
  .sallaryDashboard {
    min-width: 400px;
  }
  .learningPlanItem {
    min-height: 300px;
    width: 100%;
  }
  .learningPlans {
    flex-wrap: wrap;
    align-items: center;
  }
  .learningStepsImage {
   
    flex-grow: 1;
  }
  .learningStepsTable {
    width: 100%;
    flex-grow: 1;

  }
  .intro3LeftBlock h1 {
    max-width: 400px;
  }

}
@media (max-width: 900px) {
.intro3Heading {
  display: inline;
}
.intro3Application {
  position: relative;
  aspect-ratio: 388/349;
  border-radius: 24px;
}
.introProductBlock3 {
  position: relative;
  padding: 0;
}
.intro3LeftBlock h1 {
  display: none;
}
.intro3LeftBlock {
  width: 100%;
  max-width: unset;
}
.leftBlockBackground {
  width: 100%;
  max-width: unset;
  padding-right: 0;
}
.leftBlockRCcontrol {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 45%;
  max-width: 270px;
  height: auto;
  aspect-ratio: 184/194;
  padding: 16px 0 0 16px;
  background-color: var(--black);
  border-top-left-radius: var(--big-border-radius);
}
.leftBlockRCcontrol .borderRadius2 {
  display: block;
}
.leftBlockRCcontrol img {
  border-radius: var(--big-border-radius);
}
.leftBlockRCcontrol a {
  width: calc(100% - 32px);
  padding: 12px 12px;
  left: 28px;
  transform: unset;
}
.introParagraph3 {
  top: 16px;
  right: 16px;
}
.introWrapper3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
}
@media (max-width: 800px) {
 
  .advantageWrapper {
    flex-direction: column;
gap: 20px;
  }
  .advantageItem:first-child {
    padding: 0 0 16px 0;
  }
  .advantageItem {
    padding: 16px 0;
  }
  .advantageItemName {
    gap: 16px;
  }
  .advantageTextContent button {
    display: none;
  }
  .consultationButton {
    display: flex!important;
    margin-top: 16px;
    width: 100%;
  }
  .sellaryWrapper {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .sallaryTextContent {
    order: 1;
  }
  .sallaryTextContent button {
    display: none;
  }
  .sallaryDashboard {
    order: 2;
    max-width: unset;
  }
  .sallaryButton {
    display: flex!important;
    order: 3;
    margin-top: 16px;
    width: 100%;
  }
  .learningStepsImage {
    max-width: unset;
    height: fit-content;
    flex-grow: unset;
  }
  .learningStepsWrapper {
    flex-direction: column;
    gap: 20px;
  }
  .learningStepsImage h2 {
    position: static;
    margin-bottom: 32px;
    max-width: 180px;
  }
  .learningStepsImage .borderRadius1,
  .learningStepsImage .borderRadius2 {
    display: none;
  }
 .learningPlans {
  margin-top: 24px;
 }
 
}
@media (max-width: 600px) {
  .sallaryDashboard{
    min-width: unset;
    padding: 16px;
  }
  .sallaryDigits {
    flex-wrap: wrap;
  }
  .sallaryDigits p {
    width: 100%;
  }
  .learningTable p {
    font-size: 12px;
  }
}
@keyframes textShadowFade {
  0% {
    text-shadow: 2px 1px 10px #06f943;
  }
  100% {
    text-shadow: 0px 0px 0px #06f943;
  }
}
@keyframes sallaryRaiseBar {
  from {
    height: 50;
    y: 203;
  }
  to {
    height: var(--final-height); /* Высота из переменной */
    y: var(--final-y); /* Координата y из переменной */
  }
}
@keyframes livitation {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0);
  }
}
