.productGallery {
  max-width: 502px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.productGalleryThumbs {
  display: flex;
  gap: 16px;
}

.productGallery-big {
  width: 100%;
  border-radius: var(--big-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--graycards);
  aspect-ratio: 502/386;
}
.productGallery-big img {
  width: 100%;
  max-width: 409px;
}
.productGallery-small {
  aspect-ratio: 114/100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 114px;
  border-radius: var(--small-border-radius);
  background-color: var(--graycards);
}
.productGallery-small img {
  max-width: 100px;
  width: 100%;
}
.productGalleryBlack-big {
  width: 100%;
  border-radius: var(--big-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #010101;
  aspect-ratio: 502/386;
}
.productGalleryBlack-big img {
  width: 100%;
  max-width: 409px;
}
.productGalleryBlack-small {
  aspect-ratio: 114/100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 114px;
  border-radius: var(--small-border-radius);
  background-color: #010101;
}
.productGalleryBlack-small img {
  max-width: 100px;
  width: 100%;
}
/* MAIN PRODUCTS */
.productMainInfoWrapper {
  display: flex;
  gap: 56px;
  padding-top: 48px;
  padding-bottom: var(--block-padding);
}
.productMain-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.productMain-title {
  color: var(--lightgrey);
  margin-bottom: 16px;
}
.productMain-mainProperties {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 16px;
}
.mainPropertiesItem {
  padding: 12px;
  border-radius: var(--small-border-radius);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-grow: 1;
  background-color: var(--graycards);
}
.mainPropertiesItem .propertieName {
  font-weight: 500;
}
.mainPropertiesItem .propertieValue {
  color: var(--lightgrey);
}
.productMain-advantages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  margin-bottom: 32px;
}
.productMain-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}
.productMain-price p {
  color: var(--lightgrey);
}
.productTechnologyWrapper {
  display: flex;

  gap: 25px;
  padding-bottom: var(--block-padding);
}
.productTechnologyWrapper .mobileChapter {
  display: none;
  margin-bottom: var(--chapter-padding);
}
.technologyList h2 {
  width: 100%;
  margin-bottom: var(--chapter-padding);
}
.technologyGallery {
  width: 100%;
  aspect-ratio: 381/247;
  border-radius: var(--big-border-radius);
  overflow: hidden;
  user-select: none;
  background-color: #010101;
}
.technologyGallery img {
  width: 100%;
}
.productBigPhotoWrapper {
  aspect-ratio: 22/13;
  width: 100%;
  border-radius: var(--big-border-radius);
  padding-bottom: var(--block-padding);
}
.productBigPhotoWrapper img {
  width: 100%;
}
.productKitWrapper {
  background: var(--graycards);
  border-radius: var(--big-border-radius);
  padding: 112px;
  display: flex;
  gap: 56px;
  margin-bottom: var(--block-padding);
}
.productKitWrapper .mobileChapter {
  display: none;
}
.productKitInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 320px;
}
.productKitInfo button {
  width: fit-content;
}
.productKit-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
  color: var(--lightgrey);
}
.productKitGallery {
  display: flex;

  width: 100%;
  gap: 16px;
  aspect-ratio: 175/134;
}
.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.left-column {
  flex: 0 0 33%;
}
.right-column {
  flex: 0 0 67%;
}
.gallery-item {
  background-color: black;
  border-radius: var(--small-border-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}
.productTechAdventagesWrapper {
  display: flex;
  gap: 56px;
  align-items: flex-start;
  padding-bottom: var(--block-padding);
}
.productTechAdventages-name {
  width: 100%;
  max-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
}
.productTechAdventages-properties {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.techAdventages-propertiesItem {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid var(--grey);
}
.techAdventages-propertiesItem p {
  width: 50%;
}

.techAdventages-propertiesItem.value {
  color: var(--lightgrey);
}
/* OTHER PRODUCTS */
.productOtherWrapper {
  display: flex;
  gap: 56px;
  padding-top: 48px;
}
.productOtherInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.productOtherTitle {
  color: var(--lightgrey);
  margin-bottom: 8px;
}
.productOtherPrice {
  margin-bottom: 8px;
}
.productCardButtonGroup {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 64px;
}
.productCardButtonGroup a,
.productCardButtonGroup button {
  width: fit-content;
}
.productOtherPropertiesTable {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.productOtherPropertiesTable h3 {
  margin-bottom: 16px;
}
.productOtherPropertiesItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  padding: 8px 0;
  width: 100%;
}
.productOtherPropertiesItem p {
  width: 50%;
  text-align: left;
}
.productOtherPropertiesItem-value {
  color: var(--lightgrey);
}
.productEquipmentWrapper {
  padding-bottom: var(--block-padding);
}
.productEquipmentWrapper .swiperNavigationDefault {
  position: static;
}
.swiperProductsDashboard {
  padding-bottom: var(--block-padding);
}
.productCardItem {
  width: 100%;

  border-radius: var(--small-border-radius);
  padding: 20px 20px 90px 20px;
  background-color: var(--graycards);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.productCardItemImage {
  aspect-ratio: 129/100;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--small-border-radius);
  overflow: hidden;
}
.productCardItemImage img {
  width: 100%;
}
.productCardItem p {
  color: var(--lightgrey);
}
.archiveProductWrapper {
  padding-top: 48px;
}
.categoryHeadTitle {
  margin-bottom: 24px;
}
.categoryHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: var(--chapter-padding);
}
.categoryHeaderItem {
  color: var(--lightgrey);
  padding: 8px 16px;
  border-radius: var(--small-border-radius);
  background-color: var(--graycards);
}
.categoryHeaderItem a {
  color: var(--lightgrey);
  text-decoration: none;
}
.activeCategory {
  background-color: var(--green) !important;
}
.activeCategory a {
  color: var(--black) !important;
}
.productCardDashboard {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 56px;
}
.productCardDashboard .productCardItem {
  width: calc((100% - 40px) / 3);
}
.productCardDashboard .contentProductItem {
  max-width: unset !important;
  width: calc((100% - 40px) / 3) !important;
}
.productCardDashboard .contentProductItem img {
  margin-bottom: 24px;
  width: 100%;
  border-radius: var(--small-border-radius);
}
.contentProductItem-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contentProductItem-category .name {
  color: var(--lightgrey);
  background-color: var(--grey);
  padding: 2px 8px;
  border-radius: var(--small-border-radius);
}
.contentProductItem-category .date {
  color: #fff;
}
.contentProductItem .title {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.productCardItem p {
 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  
}
@media (max-width: 1100px) {
  .productMain-mainProperties {
    flex-direction: column;
  }
  .mainPropertiesItem {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .productGallery {
    width: 100%;
    max-width: 370px;
  }

  .productMainInfoWrapper {
    gap: 32px;
  }
  .productMain-info {
    width: 100%;
  }

  .technologyList {
    max-width: 100%;
  }
  .productKitWrapper {
    padding: 32px;
  }
  .productOtherInfo {
    width: 100%;
  }
  .productOtherWrapper {
    gap: 32px;
  }
  .productCardDashboard .productCardItem {
    width: calc((100% - 20px) / 2);
  }
  .productCardDashboard .contentProductItem {
    width: calc((100% - 20px) / 2) !important;
  }
}
@media (max-width: 800px) {
  .productMainInfoWrapper {
    flex-direction: column;
    align-items: center;
  }
  .productGallery {
    max-width: 650px;
  }
  .productMain-mainProperties {
    gap: 8px;
  }
  .productTechnologyWrapper {
    flex-direction: column;
    gap: 8px;
  }
  .productTechnologyWrapper .mobileChapter {
    display: inline;
  }
  .technologyList {
    order: 2;
  }
  .technologyList h2 {
    display: none;
  }
  .technologyGallery {
    order: 1;
  }
  .productKitWrapper {
    flex-direction: column;
    gap: 16px;
  }
  .productKitWrapper .mobileChapter {
    display: inline;
  }
  .productKitInfo h2 {
    display: none;
  }
  .productKitInfo {
    order: 2;
  }
  .productKitGallery {
    order: 1;
  }
  .productTechAdventagesWrapper {
    flex-direction: column;
    gap: 32px;
  }
  .productTechAdventages-name {
    width: 100%;
    align-items: center;
    max-width: unset;
  }
  .productTechAdventages-name img {
    width: 100%;
    max-width: 400px;
  }
  .productOtherWrapper {
    flex-direction: column;
  }
  .productCardDashboard {
    gap: 16px;
  }
}
@media (max-width: 600px) {
  .productCardDashboard .productCardItem {
    width: 100%!important;
  }
  .productCardDashboard .contentProductItem {
    width: 100%!important;
  }
  .contentProductItem {
    padding: 12px 12px 90px 12px;
  }
  .productCardItem {
    padding: 12px 12px 90px 12px;
  }
}

@media (max-width: 550px) {
  .productCardButtonGroup {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }
  .productCardButtonGroup button,
  .productCardButtonGroup a {
    width: 100%;
  }
  .techAdventages-propertiesItem {
    gap: 12px;
  }
  .techAdventages-propertiesItem p {
    font-size: 12px;
    width: 48%;
  }
  .productOtherPropertiesItem px {
    font-size: 12px;
  }
}
