@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --green: #32d16d;
  --greenHover: #22e76b;
  --greenFocus: #25b059;
  --transperent-green: #32d16c2d;
  --lightgrey: #cccccc;
  --lightgreyHover: #cccccc2b;
  --lightgreyFocus: #ffffffb1;
  --grey: #353535;
  --graycards: #222222;
  --black: #0e0e0e;
  --purple: #a832d1;
  --blue: #23aaeb;
  --decor-font-size: 48px;
  --block-padding: 120px;
  --chapter-padding: 80px;
  --big-border-radius: 40px;
  --small-border-radius: 20px;
}
html
body {
  background-color: var(--black);
  color: #fff;
  font-family: "Roboto", serif;
}
h1 {
  font-size: 42px;
  line-height: 140%;
  font-weight: 400;
}
h1 span,
h2 span {
  color: var(--green);
}
h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}

h3 {
  font-size: 24px;
}
h3 small {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 130%;
}
p span {
  color: var(--green);
}
.decorBig {
  font-size: var(--decor-font-size);
  font-weight: 400;

  line-height: 67px;
}
.decorBig span {
  color: var(--green);
}
.decoBig small {
  font-size: 16px;
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section,
header,
footer {
  width: 100%;
  padding-left: 4.16%;
  padding-right: 4.16%;
  display: flex;
  justify-content: center;
}

footer {
  margin-top: 120px;
  border-top: 1px solid;
  border-color: var(--lightgrey);
}
.wrapper {
  max-width: 1600px;
  width: 100%;
}
.greenButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  border-radius: 16px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 14px 32px;
  background-color: var(--green);
  color: var(--black);
  cursor: pointer;
  transition: all 0.2s ease;
}
.greenButton svg {
  transition: all 0.2s ease-in-out;
}
.greenButton svg path {
  stroke: var(--black);
}
.greenButton:hover {
  background-color: var(--greenHover);
}
.greenButton:focus {
  background-color: var(--greenFocus);
}
.greenButton:hover > svg {
  transform: rotate(45deg);
}
.blackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  border-radius: 16px;
  border: none;
  font-weight: 500;
  padding: 14px 32px;
  background-color: var(--graycards);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: max-content;
}
.blackButton svg {
  transition: all 0.2s ease-in-out;
}
.blackButton svg path {
  stroke: #fff;
}
.blackButton:hover {
  color: var(--green);
}
.blackButton:focus {
  color: var(--greenFocus);
}
.blackButton:hover > svg {
  transform: rotate(45deg);
}
.blackButton:hover > svg path {
  stroke: var(--green);
}
.blackButton:focus > svg {
  transform: rotate(45deg);
}
.blackButton:focus > svg path {
  stroke: var(--greenFocus);
}
.transparentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  border-radius: 16px;
  border: 1.5px solid var(--lightgrey);
  font-weight: 500;
  font-size: 16px;

  padding: 14px 32px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: max-content;
}
.transparentButton:hover {
  background-color: var(--lightgreyHover);
}
.transparentButton:focus {
  color: var(--lightgreyFocus);
  border-color: var(--lightgreyFocus);
}
.transparentButton svg {
  transition: all 0.2s ease-in-out;
}
.transparentButton svg path {
  stroke: #fff;
}
.transparentButton:hover > svg {
  transform: rotate(45deg);
}

.transparentButton:focus > svg path {
  stroke: var(--lightgreyFocus);
}
.defaultForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background-color: var(--graycards);
  padding: 24px 32px 32px 32px;
  border-radius: var(--big-border-radius);
  width: 100%;
  max-width: 426px;
}
.defaultForm img {
  width: 126px;
}
.defaultForm p {
  margin-bottom: 12px;
  color: var(--lightgrey);
  text-align: center;
}
.defaultForm button {
  margin-top: 12px;
  width: 100%;
}
.defaultInput {
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 14px;
  background-color: #fff;
  border: none;
  width: 100%;
  transition: all .2s ease-in;
}
.defaultInput::placeholder {
  color: #3535357b;
  font-size: 16px;
}
.defaultInput:hover ::placeholder {
  color: #353535;
}
.defaultInput:focus {
  outline: none;
}
.mainSwiperContainer {
  position: relative;
}
.swiperDefault {
  width: 100%;
  height: fit-content;
  max-width: 538px;
  border-radius: var(--big-border-radius);
  background-color: var(--graycards);
  overflow: hidden;
  position: relative;
}
.productsSwiper {
  width: 100%;
  overflow: hidden;
}
.sliderWrapperDefault {
  width: 100%;
}
.productsSwiperWrapper {
}
.swiperSlideContent {
  padding: 32px 32px 104px 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.swiperSlideContent .steps {
  font-weight: 500;
  margin-bottom: 12px;
}
.swiperSlideContent .steps span {
  color: var(--green);
}
.swiperSlideContent p {
  color: var(--lightgrey);
}
.swiperSlideProductContent {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.swiperSlideProductContent .steps {
  font-weight: 500;
  margin-bottom: 12px;
}
.swiperSlideProductContent .steps span {
  color: var(--green);
}
.swiperSlideProductContent p {
  color: var(--lightgrey);
}
.swiperNavigationDefault {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-right-radius: var(--big-border-radius);
  background-color: var(--black);
  display: flex;
  gap: 16px;
  padding: 24px 24px 0 0;
  z-index: 6;
  user-select: none;
}
.swiperNavigationDefault .borderRadius1 {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 40px;
  height: 40px;
}
.swiperNavigationDefault .borderRadius2 {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 40px;
  height: 40px;
}
.swiperNavigationDefault .borderRadius1 path {
  fill: var(--black);
 
}
.swiperNavigationDefault .borderRadius2 path {
  fill: var(--black);
  
}
.swiperButtonPrev,
.swiperButtonNext {
  border: 1px solid #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
}
.swiperButtonPrev svg {
  transform: rotate(225deg);
}
.swiperButtonNext svg {
  transform: rotate(45deg);
}
.swiperButtonPrev svg path,
.swiperButtonNext svg path {
  stroke: #fff;
  transition: all 0.2s ease;
}
.swiperButtonPrev:hover svg path,
.swiperButtonNext:hover svg path {
  stroke: var(--green);
}
.markedlistDefault {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 24px;
  list-style-image: url("../images/icons/marker.svg");
  color: var(--lightgrey);
  padding-left: 10px;
}
.markedlistDefault li {
  padding-left: 8px;
}
.pc {
  display: flex;
}
.mobile {
  display: none;
}
.mobile-inline {
  display: none;
}
.pc-inline {
  display: inline-block;
}
.iti {
  width: 100%;
}
.iti__selected-dial-code {
  color: var(--black);
}
.iti__country-name {
  color: var(--black);
}
.inputWrapper {
  position: relative;
  width: 100%;
}
.error-input {
 
}
input.error {
  border:1px solid crimson;
}
.inputWrapper label {
  position: absolute;
  top: 70%;
  left: 0;
  background: crimson;
  text-align: center;
  color: white;
  width: 100%;
  z-index: 1;
  font-size: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.FourZeroFourWrapper {
display: flex;
flex-direction: column;
align-items: center;
gap: 24px;
}
.headingBLock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.applicationBlock {
  aspect-ratio: 495 / 428;
  width: 100%;
  max-width: 495px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: auto;
  z-index: 5;
}

        .orbit-container {
            position: relative;
            width: 428px;
            height: 428px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .planet {
            transform-origin: 244px 244px; /* Центр вращения совпадает с центром орбиты */
            animation: orbit 5s linear infinite;
        }
        .planet-circle {
          fill: #0E0E0E;
          stroke: #353535;
          stroke-width: 2;
          stroke-dasharray: 2 2;
      }

      .planet-inner {
          fill: #353535;
      }

        @keyframes orbit {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    
@media (max-width: 1400px) {
  section,
  header,
  footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  * {
    --decor-font-size: 24px;
  }
  .decorBig {
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 1100px) {
  * {
    --block-padding: 64px;
    --chapter-padding: 32px;
    --big-border-radius: 24px;
  }
  .greenButton,
  .blackButton,
  .transparentButton {
    padding: 12px 24px;
  }
  .swiperNavigationDefault .borderRadius1 {
   
    width: 24px;
    height: 24px;
  }
  .swiperNavigationDefault .borderRadius2 {
  
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 800px) {
  .jobStepSwiperBlock {
    width: 100%;
  }
  .swiperDefault {
    max-width: 100%!important;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .mobile-inline {
    display: inline-block;
  }
  .pc-inline {
    display: none;
  }
  section,
  header,
  footer {
    padding-left: 16px;
    padding-right: 16px;
  }
  footer {
    margin-top: 56px;
  }
  .swiperSlideContent {
    padding: 16px 16px 90px 16px;
  }
  .swiperSlideContent .steps {
    margin-bottom: 4px;
  }
  .markedlistDefault {
    row-gap: 4px;
  }
  .defaultForm {
    padding: 16px 20px 20px 20px;
  }
/*   
  .borderRadius1,
  .borderRadius2 {
    width: 24px!important;
    height: 24px!important;
  } */
}
